/*====================================*\
	$ICONS
\*  ----------------------------------*/

[class^="fzr_icon-"]{
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-left: 30px !important;
}


	/****
	* icon images
	*/
	.fzr_icon-time		{background-image: url(../img/formanizr/icons/time.png);}
	.fzr_icon-date		{background-image: url(../img/formanizr/icons/date.png);}
	.fzr_icon-search	{background-image: url(../img/formanizr/icons/search.png);}
	.fzr_icon-email		{background-image: url(../img/formanizr/icons/email.png);}
	.fzr_icon-url		{background-image: url(../img/formanizr/icons/url.png);}
	.fzr_icon-phone		{background-image: url(../img/formanizr/icons/phone.png);}
	.fzr_icon-number	{background-image: url(../img/formanizr/icons/number.png);}
	.fzr_icon-range		{background-image: url(../img/formanizr/icons/range.png);}